* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.container-flow i {
  font-size: 2rem;
}

.nav-buttons a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.navText {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-item {
  padding: 10px;
}


#justText {
  text-align: center;
}
